
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 15% 23%;

    --card: 0 0% 100%;
    --card-foreground: 224 15% 23%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 15% 23%;

    --primary: 231 100% 63%;
    --primary-foreground: 0 0% 100%;

    --secondary: 240 10% 97%;
    --secondary-foreground: 224 15% 23%;

    --muted: 240 10% 97%;
    --muted-foreground: 225 15% 48%;

    --accent: 240 10% 97%;
    --accent-foreground: 224 15% 23%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 231 100% 63%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 224 15% 23%;
    --foreground: 0 0% 100%;

    --card: 224 15% 23%;
    --card-foreground: 0 0% 100%;

    --popover: 224 15% 23%;
    --popover-foreground: 0 0% 100%;

    --primary: 231 100% 63%;
    --primary-foreground: 0 0% 100%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 0 0% 100%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 231 100% 63%;
    
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.flashcard {
  perspective: 1000px;
}

.flashcard-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flashcard.flipped .flashcard-inner {
  transform: rotateY(180deg);
}

.flashcard-front,
.flashcard-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flashcard-back {
  transform: rotateY(180deg);
}
